body {
    background-color: rgb(236, 236, 236);
    }
    h1 {
    color: rgb(177, 152, 131);
    text-align: left;
    }
    p {
    margin-left: 80px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 80px;
    }
    h2 {
    color: rgb(129, 129, 129);
    text-align: left;
    }
    p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    }
    li {
    color: rgb(129, 129, 129);
    text-align: left;
    }
    p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    }