body {
    background-color: rgb(228, 228, 228);
    }
    h1 {
    font-family: Helvetica Narrow, sans-serif;
    font-size: 25px;
    color: rgb(34, 34, 34);
    text-align: center;
    }
    h2 {
        font-family: Helvetica Narrow, sans-serif;
        font-size: 25px;
        color: rgb(34, 34, 34);
        text-align: center;
        }
    ul {
        color: rgb(100, 100, 100);
        text-align: center;
        font-family:  Helvetica Narrow, sans-serif;
        font-size: 15px;
        }
    p {
    color: rgb(100, 100, 100);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif Narrow, sans-serif;
    font-size: 15px;
    }