body {
    background-color: rgb(236, 236, 236);
    }
    h1 {
    color: rgb(73, 73, 73);
    text-align: start;
    }
    p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    }
    h2 {
    color: rgb(73, 73, 73);
    text-align: start;
    }
    p {
    font-family: aria;
    font-size: 8px;
    }