body {
  background-color:pink;
}
 
navbar {
  overflow: hidden;
  background-color:pink;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.navbar a:hover {
background-color:pink;
color: rgb(46, 46, 46);
}

.navbar a.active {
background-color:pink;
color: #F5E9E7;
}

.content {
   width: 90%;
   height: 70%;
   position:fixed;
   display: flex;
   align-items: center;
}

.column {
  margin: 10px;
  width: 30%;
  height: 100%;
  background: #dfe6e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
}

.column:hover {
  
}

.column .top {
  width: 100%;
  height: 60%;
  background: lightskyblue;
}

.column .bottom {
  width: 100%;
  height: 40%;
  background:lightcoral;
}