h1 {
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif ;
  text-align: center;
}
 
navbar {
  overflow: hidden;
  background-color:pink;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.navbar a:hover {
background-color:pink;
color: rgb(46, 46, 46);
}

.navbar a.active {
background-color:pink;
color: #F5E9E7;
}

* {
  box-sizing: border-box;
}

body {
  background-color: pink;
  padding: 20px;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
  border-radius: 10px;
}

.row > .column {
  padding: 8px;
  border-radius: 10px;
}

.column {
  float: left;
  width: 25%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: pink;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}