h1 {
  font-size: 25px;
  color: #f2f2f2;
  font-family:Arial, Helvetica, sans-serif ;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  word-break: break-all;
  padding: 20px;
}

h2 {
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 20px;
  color: #f2f2f2;
  text-align: center;
}

h3 {
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 15px;
  color: #f2f2f2;
  text-align: center;
}


h4 {
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 15px;
  color: #f2f2f2;
  text-align: center;
}

h5 {
  color: #f2f2f2;
  font-family:Arial, Helvetica, sans-serif ;
  text-align: center;
}

title {
 color: #f2f2f2;
 font-family: Arial, Helvetica, sans-serif;

}

img {
  border-radius: 50%;
  scale: 50%;
  item-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

navbar {
  overflow: hidden;
  background-color:#FFB5B5;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.navbar a:hover {
background-color:#FFB5B5;
color: rgb(46, 46, 46);
}

.navbar a.active {
background-color:#FFB5B5;
color: #F5E9E7;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFB5B5;
  padding: 20px;
  font-family: Arial;
}

h1 {
  font-size: 25px;
  color: #f2f2f2;
  font-family:Arial, Helvetica, sans-serif ;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  word-break: break-all;
}

.main {
  max-width: 1000px;
  margin: auto;
}


.row {
  margin: 8px -16px;
  border-radius: 10px;
}

.row > .column {
  padding: 8px;
  border-radius: 10px;
}

.column {
  float: left;
  width: 25%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color:#FFB5B5;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}