body {
  background-color:rgb(214, 178, 158);
}

navbar {
  overflow: hidden;
  background-color:#D6B29E;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.navbar a:hover {
background-color:#D6B29E;
color: #333333;
}

.navbar a.active {
background-color: #D6B29E;
color: #F5E9E7;
}


.content {
  padding: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: #D6B29E;
 color: #D6B29E;
 text-align: center;
}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: #D6B29E; 
}

::-webkit-scrollbar-thumb {
background: #D6B29E; 
}

::-webkit-scrollbar-thumb:hover {
background: #333333;  
}

h5 {
  background-color: rgb(214, 178, 158);
  color: #333333

}

