img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 350px;
  margin-left: 350px;

}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgb(116, 61, 61);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
    background-color: hsl(36, 37%, 80%);
    }
    h1 {
    font-family: Georgia, Times, serif;
    color: rgb(116, 61, 61);
    text-align: center;
    }
    h2 {
    font-family: Georgia, Times, serif;
    text-align: center;
    color: rgb(116, 61, 61);
    font-size: 18px;
    }
    h3 {
      font-family: Georgia, Times, serif;
      font-size: 17px;
      color: rgb(46, 46, 46);
      text-align: center;
    }
    p {
    font-family: Georgia, Times, serif;
    font-size: 15px;
    text-align: center;
    color: rgb(46, 46, 46);
    }

    * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      width: 33.33%;
      padding: 2px;
    }
    
    .row::after {
      content: "";
      clear: both;
      display: table;
    }


    header {
      background-color: hsl(36, 37%, 80%);
      padding: 30px;
      text-align: center;
      font-size: 15px;
      color: rgb(116, 61, 61);
    }


    navbar {
        overflow: hidden;
        background-color:hsl(36, 37%, 80%);
        vertical-align: center;
      }
      
      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif, Times, serif;
      }
      
      .navbar a:hover {
      background-color:hsl(36, 37%, 80%);
      color: rgb(116, 61, 61);
      }
      
      .navbar a.active {
      background-color: hsl(36, 37%, 80%);
      color: #F5E9E7;
      }
      
      
      .content {
        padding: 20px;
      }
      
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .content {
        padding-top: 60px;
      }