body {
    background-color: hsl(36, 37%, 80%);
    }
    h1 {
    color: rgb(116, 61, 61);
    text-align: center;
    }
    h2 {
    color: rgb(46, 46, 46);
    text-align: center;
    }
    p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


    header {
      background-color: hsl(36, 37%, 80%);
      padding: 30px;
      text-align: center;
      font-size: 15px;
      color: white;
    }


    navbar {
        overflow: hidden;
        background-color:hsl(36, 37%, 80%);
      }
      
      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
      }
      
      .navbar a:hover {
      background-color:hsl(36, 37%, 80%);
      color: rgb(46, 46, 46);
      }
      
      .navbar a.active {
      background-color: hsl(36, 37%, 80%);
      color: #F5E9E7;
      }
      
      
      .content {
        padding: 20px;
      }
      
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .content {
        padding-top: 60px;
      }


      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }


      footer {
        background-color: hsl(36, 37%, 80%);
        padding-top: 20px;
        text-align: center;
        font-size: 7px;
        color: white;
      }

      