body {
    background-color: hsl(36, 37%, 80%);
    }
    h1 {
    color: rgb(116, 61, 61);
    text-align: center;
    }
    p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    }
    h2 {
    color: rgb(46, 46, 46);
    text-align: center;
    }
    p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    }