div {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
  }

  

    h1{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(34, 34, 34);
    text-align: center;
    }
    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 23px;
        color: rgb(34, 34, 34);
        text-align: center;
        }
    ul {
        color: rgb(100, 100, 100);
        text-align: center;
        font-family:  Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
        }
    p {
    color: rgb(100, 100, 100);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    }

    
    body{
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
        font-family: Arial;
      }
      
      .row {
        display: -ms-flexbox; 
        display: flex;
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
        padding: 0 1px;
      }
    
      .column {
        -ms-flex: 25%; 
        flex: 25%;
        max-width: 25%;
        padding: 0 1px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }