div {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
  }
    h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(34, 34, 34);
    text-align: center;
    }
    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 23px;
        color: rgb(34, 34, 34);
        text-align: left;
        }
    ul {
        color: rgb(100, 100, 100);
        text-align: left;
        font-family:  Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
        }
    p {
    color: rgb(100, 100, 100);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    }

    style {
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
      font-family: Arial;
    }
    
    .header {
      text-align: center;
      padding: 32px;
    }
    
    .column {
      float: left;
      width: 50%;
      padding: 10px;
    }
    
    .column img {
      margin-top: 12px;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }