body {
    background-color: rgb(238, 233, 224);
    }

div {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

    h1 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    }
    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        color: rgb(34, 34, 34);
        text-align: center;
        }

    p {
    color: rgb(100, 100, 100);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%
    }

    body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    }
    